@import url('https://fonts.googleapis.com/css2?family=Century+Gothic:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic', sans-serif;
    text-decoration: none;
}

body {
    background-color: #001F3F;
    color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.background-logo {
    position: absolute;
    top: -200px;
    left: -100vh;
    width: 300%;
    height: 300%;
    background-image: url('https://i.ibb.co/XLr6PMm/Beyaz-Sembol-PNG.png');
    background-repeat: repeat;
    background-size: 400px;
    opacity: 0.1;
    transform: rotate(45deg);
    z-index: 0;
}

.container {
    text-align: center;
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 3rem;
    color: #E4BF47;
    margin-bottom: 30px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.btn {
    background-color: #36454F;
    color: #E0E0E0;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Century Gothic', sans-serif;
}

.btn:hover {
    background-color: #9DB17C;
    transform: scale(1.08);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}

.btn:active {
    background-color: #E4BF47;
    transform: scale(0.95);
}

.custom-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('/custom_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
}